<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="motoman_sia5f">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import motoman_sia5f urdf file -->
    <xacro:include filename="$(find gazebo_simulation)/description/manipulator.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="motoman_sia5f.ros2_control.xacro" />


    <xacro:motoman_sia5f_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
